<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/indexStyles.css">
        <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/indexStyles.css') }}"> -->
    </head>
    <body>
        <div class="container">
            {% extends "header.html" %}
            {% block content %}
            <header class="header">
              <h1 id="title" class="text-center">Cluster Analysis Results</h1>

            </header>
                <div class="box">
                    <p>Customer Groups: </p><br>
                    <div class="form-group">
                        <p>Group 1</p>

                        <ul>
                            <li>Not satisfied</li>
                            <li>Mostly disloyal customers in Eco/Eco Plus class for personal travel</li>
                            <li>Lowest rated services:</li>
                                <ul>
                                    <li>Cleanliness</li>
                                    <li>Food and drink</li>
                                    <li>Seat comfort</li>
                                </ul>
                        </ul>
                        
                    </div>

                    <div class="form-group">
                        <p>Group 2</p>

                        <ul>
                            <li>Mostly satisfied</li>
                            <li>Mostly customers in Business class for business</li>
                            <li>Lowest rated services:</li>
                                <ul>
                                    <li>Departure/arrival time convenience</li>
                                    <li>Ease of online booking</li>
                                    <li>Gate location</li>
                                </ul>
                            <li>Highest rated services:</li>
                            <ul>
                                <li>Inflight entertainment</li>
                                <li>Cleanliness</li>
                                <li>Food and drink</li>
                            </ul>
                        </ul>
                        
                    </div>

                    <div class="form-group">
                        <p>Group 3</p>

                        <ul>
                            <li>Mostly dissatisfied</li>
                            <li>Mostly customers in Eco/Eco Plus class for personal travel</li>
                            <li>Lowest rated services:</li>
                                <ul>
                                    <li>Inflight service</li>
                                    <li>On board service</li>
                                    <li>Baggage Handling</li>
                                </ul>
                        </ul>
                        
                    </div>

                    <div class="form-group">
                        <p>Group 4</p>

                        <ul>
                            <li>Satisfied</li>
                            <li>Mostly loyal customers in Business class for businessS travel</li>
                            <li>Highest rated services:</li>
                                <ul>
                                    <li>Inflight wifi service</li>
                                    <li>Ease of online booking</li>
                                    
                                </ul>
                        </ul>
                        
                    </div>
                </div>
                <br><br>
                <div class="box" >
                    <div class="form-group">
                        <p>Conclusions:</p>
                        <br>
                        <p>Customers are more likely to feel <span class="red">satisfied</span> if they have a <u>high</u> satisfaction with,</p>
                        <ul>
                            <li>Inflight Wi-Fi service</li>
                            <li>Ease of online booking</li>
                            <li>Cleanliness</li>
                            <li>Food and drink</li>
                        </ul>
                        <br>
                        <p>Customers are more likely to feel <span class="red">dissatisfied</span> if they have a <u>low</u> satisfaction with,</p>
                        <ul>
                            <li>Cleanliness</li>
                            <li>Food and drink</li>
                            <li>Seat comfort</li>
                            <li>Inflight Service</li>
                        </ul>
                    </div>
                </div>
                <br><br>

            
            </div>
          
        {% endblock %}

    </body>
</html>